.HistoryDisplayer{
    /* background-color: blue; */
    float:left;
    background-color: rgba(1, 32, 1, 0.4); 
    width:250px;
    padding:10px;
    margin:5px;
    display:block;
    flex:wrap;
}

.hisThumbnail{
    max-width: 80px;  
    display:block;
    margin:auto;
    padding:5px;
}

.hisButton{
    display:block;
    margin:auto;
}